* {
  margin: 0px;
  padding: 0px;
}

body {
  color: rgb(51, 51, 51);
  font-size: 0.8em;
  line-height: 140%;
}

body.contentpane, body.mceContentBody {
  background: none repeat scroll
    0% 0% rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  outline: medium none;
}

a:focus {

}

fieldset a {
  font-weight: bold;
}

h1 {
  font-size: 1.7em;
  font-weight: normal;
}

h2 {
  font-size: 1.4em;
  font-weight: normal;
  margin-bottom: 18px;
}

h3 {
  font-size: 1.2em;
  font-weight: normal;
}

h4 {
  font-size: 1.1em;
  font-weight: normal;
}

h5 {
  font-size: 0.9em;
  font-weight: normal;
}

a img, fieldset, img {
  border: medium none;
}

.mosimage {
  padding: 0px;
  border: 1px solid rgb(51,
    51, 51);
  margin: 6px;
}

.mosimage img {
  padding: 0px;
  margin: 0px ! important;
}

.mosimage_caption {
  background: none repeat scroll
    0% 0% rgb(51, 51, 51);
  border-top: 1px solid rgb(51,
    51, 51);
  color: rgb(255, 255, 255);
  font-size: 8pt;
  margin-top: 2px;
  padding: 1px 2px;
}

fieldset {
  border-bottom: 1px solid rgb(237,
    237, 237);
  padding-top: 7px;
  padding-bottom: 7px;
}

#form-login fieldset {
  border: medium none;
  padding-top: 0px;
}

#form-login p {
  padding-top: 0px;
}

#login br {
  display: none;
}

#login .button {
  margin-top: 8px;
  margin-bottom: 8px;
}

#login ul, #form-login ul {
  padding-top: 8px;
  padding-bottom: 8px;
}

#login-form p {
  padding: 0px;
}

#modlgn_username, #modlgn_passwd, #username_vmlogin, #password_vmlogin {
  width: 92%;
}

.inputbox, .registration input, .login input, .contact-form input, #jform_contact_message,
input {
  border: 1px solid rgb(216,
    216, 216);
  padding: 4px;
  background: none repeat scroll
    0% 0% rgb(247, 247, 247);
  border-radius: 6px;
  box-shadow: 0px 2px 2px
    rgba(0, 0, 0, 0.07) inset;
}

#login-form fieldset {
  border: medium none;
}

#login-form input {
  width: 93%;
}

#login-form #modlgn-remember {
  width: auto;
  margin-bottom: 14px;
}

#login-form .button {
  width: auto;
}

.inputbox:hover, .registration input:hover, .login input:hover, .contact-form input:hover,
#jform_contact_message:hover, input:hover {
  border: 1px solid rgb(189,
    188, 188);
}

select.inputbox {

}

label.invalid {
  color: rgb(255, 0, 0);
}

label.invalid {
  color: red;
}

.login label {
  display: block;
}

.invalid {
  border-color: rgb(255, 0, 0);
}

.invalid {
  border-color: red ! important;
}

.tool-tip {
  float: left;
  background: none repeat scroll
    0% 0% rgb(204, 204, 204);
  border: 1px solid rgb(51,
    51, 51);
  padding: 5px;
  color: rgb(0, 0, 0);
  max-width: 200px;
}

.tool-title {
  padding: 15px 0px 5px;
  margin: -15px 0px 0px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.tool-text {
  color: rgb(0, 0, 0);
  margin: 0px;
}

.button, a.readon, div.catItemReadMore, .userItemReadMore, div.catItemCommentsLink,
.userItemCommentsLink, a.readmore-link, a.comments-link, div.itemCommentsForm form input#submitCommentButton,
.validate {
  padding: 5px 6px 6px;
  margin-top: 14px;
  margin-bottom: 0px;
  font-weight: bold;
  border: medium none;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 0.9em;
}

.login .button {
  margin-top: 14px;
  margin-bottom: 14px;
}

.button {
  margin: 0px 8px 0px
    0px;
  color: rgb(255, 255, 255);
}

.btn-primary, .pager a {
  color: rgb(255, 255, 255)
    ! important;
}

.btn-primary:hover, .pager a:hover {
  color: rgb(255, 255, 255)
    ! important;
}

.btn-primary:hover, .button:hover, .validate:hover, .pager a:hover {
  background: none repeat scroll
    0% 0% rgb(102, 102, 102);
}

#submitCommentButton, #contact-form .button {
  margin-bottom: 14px;
  margin-top: 14px;
}

a.readon, div.catItemReadMore, .userItemReadMore, div.catItemCommentsLink, .userItemCommentsLink,
a.readmore-link, a.comments-link {
  padding-left: 10px;
  padding-right: 10px;
}

#fontControls {
  float: right;
}

#fontControls a {
  color: rgb(21, 21, 21);
}

.decreaseSize {
  font-size: 12px;
}

.increaseSize {
  font-size: 19px;
}

.resetSize {
  font-size: 16px;
  margin-left: 5px;
  margin-right: 5px;
}

#s5_scrolltotop {
  height: 0px;
  visibility: hidden;
}

.s5_scrolltotop {
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: right;
  margin-right: 5px;
  margin-top: 6px;
  background: url("../images/s5_scroll_arrow.png") no-repeat scroll
    0% 0% transparent;
}

#s5_bottom_menu_wrap ul.menu a:hover {
  text-decoration: underline;
}

#s5_bottom_menu_wrap ul.menu li {
  padding-left: 10px;
  font-size: 1em;
  float: right;
}

#s5_bottom_menu_wrap {
  float: right;
}

.module_round_box ul.menu a {
  padding: 6px 24px;
  display: block;
  background: url("../images/system/arrow.png") no-repeat scroll
    left center transparent;
  color: rgb(51, 51, 51);
  border-bottom: 1px dotted rgb(211,
    211, 211);
}

.module_round_box ul.menu a:hover {
  text-decoration: underline;
}

.module_round_box ul.menu ul a:hover {
  text-decoration: underline;
}

.module_round_box ul.menu ul a {
  background: none repeat scroll
    0% 0% transparent;
  padding: 6px 6px 6px
    10px;
  border-bottom: medium none;
  display: block;
}

.module_round_box ul.menu ul ul a {
  font-size: 0.9em;
  padding: 3px 3px 3px
    20px;
  border-bottom: medium none;
  display: block;
  font-weight: normal;
}

.module_round_box ul.menu #current ul span {
  font-weight: normal;
}

.module_round_box ul.menu li {
  padding: 0px;
}

.module_round_box ul.menu li ul li {
  margin-left: 24px;
}

.module_round_box ul.menu img {
  display: none;
}

#s5_component_wrap, #s5_footer_area_inner2 {
  border-radius: 6px;
  background: none repeat scroll
    0% 0% rgb(255, 255, 255);
  border: 1px solid rgb(197,
    197, 197);
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 0px;
}

#s5_header_area_inner2 {
  background: none repeat scroll
    0% 0% rgb(255, 255, 255);
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  border-radius: 6px;
}

#s5_header_area_inner {
  padding-top: 0px;
}

#s5_component_wrap {
  padding: 20px;
}

#s5_component_wrap h3 {
  margin-bottom: 8px;
}

#s5_footer_area_inner2 {
  padding: 17px 20px 14px;
  font-size: 0.9em;
}

#s5_footer {
  float: left;
}

#s5_shape5_logo {
  width: 82px;
  height: 25px;
  margin: 30px auto 40px;
  background: url("../images/shape5_logo.png") repeat scroll
    0% 0% transparent;
  cursor: pointer;
  display: block;
}

#s5_header_wrap {
  background: none repeat scroll
    0px 0px rgb(255, 255, 255);
  border-radius: 6px 6px 0px
    0px;
}

#s5_logo {
  float: left;
  cursor: pointer;
}

#s5_logo_module {
  float: left;
}

#s5_banner {
  padding-top: 36px;
  padding-right: 32px;
  color: rgb(204, 204, 204);
}

#s5_banner a {
  color: rgb(153, 153, 153);
}

#s5_banner .banneritem img {
  float: right;
}

#s5_banner .module_round_box_outer {
  float: right;
}

#s5_breadcrumb_fonts_wrap {
  padding: 3px 0 0 20px;
}

#s5_breadcrumb_wrap {
  float: right;
}

#s5_breadcrumb_wrap img {
  display: none;
}

#s5_breadcrumb_wrap .pathway {
  margin-left: 2px;
  margin-right: 2px;
}

#fontControls, #s5_social_wrap1 {
  float: right;
}

#fontControls {
  margin-right: 15px;
}

#s5_loginreg {
  float: right;
  margin-right: 5px;
}

#s5_register {
  margin-left: 7px;
}

#s5_facebook {
  background: url("../images/facebook.png") no-repeat scroll
    left top transparent;
  height: 18px;
  width: 20px;
  cursor: pointer;
  margin-left: 7px;
  float: right;
}

#s5_google {
  background: url("../images/google.png") no-repeat scroll
    left top transparent;
  height: 18px;
  width: 20px;
  cursor: pointer;
  margin-left: 7px;
  float: right;
}

#s5_twitter {
  background: url("../images/twitter.png") no-repeat scroll
    left top transparent;
  height: 18px;
  width: 20px;
  cursor: pointer;
  margin-left: 7px;
  float: right;
}

#s5_linked_in {
  background: url("../images/linked_in.png") no-repeat scroll
    left top transparent;
  height: 18px;
  width: 20px;
  cursor: pointer;
  margin-left: 7px;
  float: right;
}

#s5_rss {
  background: url("../images/rss.png") no-repeat scroll
    left top transparent;
  height: 18px;
  width: 20px;
  cursor: pointer;
  margin-left: 7px;
  float: right;
}

#s5_menu_wrap {
  background: none repeat scroll
    0% 0% rgb(0, 0, 128);
  border-top: 1px solid rgb(34,
    34, 34);
}

#s5_search label, #s5_search br, #s5_search button {
  display: none;
}

#s5_search {
  float: right;
}

#s5_search input {
  color: rgb(255, 255, 255);
  background: none repeat scroll
    0% 0% rgb(21, 21, 21);
  box-shadow: 0px 0px 18px
    2px rgba(0, 0, 0, 0.5)
    inset;
  border-radius: 8px;
  border: medium none;
  padding: 8px 14px;
  margin-top: 12px;
  margin-right: 22px;
  font-size: 0.8em;
  width: 140px;
}

.module_round_box_outer {
  margin-left: 5px;
  margin-right: 0px;
  margin-bottom: 5px;
}

.s5_mod_h3 {
  font-size: 1em;
}

.module_round_box {
  background: none repeat scroll
    0% 0% rgb(255, 255, 255);
  border-radius: 6px;
  border: 1px solid rgb(197,
    197, 197);
  padding: 20px 20px 16px;
}

.module_round_box .s5_mod_h3 {
  border-bottom: 1px solid rgb(197,
    197, 197);
  background: -moz-linear-gradient(center top ,
    rgb(255, 255, 255) 0%, rgb(249,
    249, 249) 100%) repeat scroll
    0% 0% transparent;
  border-radius: 6px 6px 0px
    0px;
  padding: 12px 13px 11px;
  margin: -20px -20px 12px;
}

.module_round_box-dark {
  background: none repeat scroll
    0% 0% rgb(26, 26, 26);
  border-radius: 6px;
  border: 1px solid rgb(197,
    197, 197);
  padding: 20px 20px 16px;
  color: rgb(255, 255, 255);
}

.module_round_box-dark a {
  color: rgb(153, 153, 153);
}

.module_round_box-dark .s5_h3_first {
  color: rgb(153, 153, 153);
}

.module_round_box-dark .s5_mod_h3 {
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(11,
    11, 11);
  background: -moz-linear-gradient(center top ,
    rgb(26, 26, 26) 0%, rgb(18,
    18, 18) 100%) repeat scroll
    0% 0% transparent;
  border-radius: 6px 6px 0px
    0px;
  padding: 12px 13px 11px;
  margin: -20px -20px 12px;
}

.module_round_box-none {
  background: none repeat scroll
    0% 0% transparent;
}

.module_round_box-none .s5_mod_h3 {
  margin-bottom: 12px;
}

#s5_drop_down_inner .module_round_box_outer {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}

#s5_header_wrap .module_round_box_outer {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 1px;
}

.module_round_box_top_row_outer {
  margin-left: 5px;
  margin-right: 0px;
  margin-bottom: 5px;
}

.s5_mod_h3 {
  font-size: 1em;
}

.module_round_box_top_row {
  background: none repeat scroll 0% 0% rgb(255, 255, 255);
  /*border-radius: 6px;*/
  border: 1px solid rgb(197, 197, 197);
  padding: 0px;
}

.module_round_box_top_row .s5_mod_h3 {
  border-bottom: 1px solid rgb(197,
    197, 197);
  background: -moz-linear-gradient(center top ,
    rgb(255, 255, 255) 0%, rgb(249,
    249, 249) 100%) repeat scroll
    0% 0% transparent;
  border-radius: 6px 6px 0px
    0px;
  padding: 12px 13px 11px;
  margin: -20px -20px 12px;
}

.module_round_box_top_row-dark {
  background: none repeat scroll
    0% 0% rgb(26, 26, 26);
  border-radius: 6px;
  border: 1px solid rgb(197,
    197, 197);
  padding: 20px 20px 16px;
  color: rgb(255, 255, 255);
}

.module_round_box_top_row-dark a {
  color: rgb(153, 153, 153);
}

.module_round_box_top_row-dark .s5_h3_first {
  color: rgb(153, 153, 153);
}

.module_round_box_top_row-dark .s5_mod_h3 {
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(11,
    11, 11);
  background: -moz-linear-gradient(center top ,
    rgb(26, 26, 26) 0%, rgb(18,
    18, 18) 100%) repeat scroll
    0% 0% transparent;
  border-radius: 6px 6px 0px
    0px;
  padding: 12px 13px 11px;
  margin: -20px -20px 12px;
}

.module_round_box_top_row-none {
  background: none repeat scroll
    0% 0% transparent;
}

.module_round_box_top_row-none .s5_mod_h3 {
  margin-bottom: 12px;
}

#s5_drop_down_inner .module_round_box_top_row_outer {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}

#s5_header_wrap .module_round_box_top_row_outer {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 1px;
}

.accordeonck {
  background-color: red;
}
